@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
        .form-group{
            margin-bottom:10px;
            margin:auto;
        }
    </style>
</head>


<span style="display:inline-block; font-size:20px;margin:20px 0;padding:20px;border:1px solid #D3D3D3">
    @ViewBag.Message
</span> 