<appSettings>
	<add key="TwilioAccountsSid" value="AC8df519bcea62df64095765be7e10a06f" />
    <add key="TwilioAuthToken" value="fc0c807f976d36b54f7510088152f977" />
	<add key="iv" value="G%h*Kd(3F/#35J0F" />
    <add key="key" value="BEFBBU7497%*ghfcUH?GHV/K6%Fgh#)3" />
	<add key="SMSAccountIdentification" value="26NP64PZFKHV" />
    <add key="SMSAccountPassword" value="wTHl30raEgNUG7pv9Licz6SQ" />
    <add key="SMSAccountFrom" value="+6596518949" />
    <add key="MyPhoneNumber" value="+6596518949" />
    <add key="FromEmailAddress" value="dubuuniverse@gmail.com" />
    <add key="FromEmailPassword" value="P@ssw0rd123" />
</appSettings>