<appSettings>
	<add key="TwilioAccountsSid" value="ACaa2e54a536c5e2d420894cb46fd82848" />
    <add key="TwilioAuthToken" value="a79323d5e8c123d7ae9262d404d66d96" />
	<add key="iv" value="G%h*Kd(3F/#35J0F" />
    <add key="key" value="BEFBBU7497%*ghfcUH?GHV/K6%Fgh#)3" />
	<add key="SMSAccountIdentification" value="26NP64PZFKHV" />
    <add key="SMSAccountPassword" value="wTHl30raEgNUG7pv9Licz6SQ" />
    <add key="SMSAccountFrom" value="+6596518949" />
    <add key="MyPhoneNumber" value="+6596518949" />
    <add key="FromEmailAddress" value="dubuuniverse@gmail.com" />
    <add key="FromEmailPassword" value="P@ssw0rd123" />
</appSettings>