<connectionStrings>
    <add name="ForumContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ASPJ_Project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WebAppConnString" connectionString="server=localhost;UID=root;PWD=mySQL1saroot;database=dububase;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>