@using ASPJ_Project.Models
@model BanSearchModel

@{
    ViewBag.Title = "BanHistory";
    var Listy = ViewBag.Listys;
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}

<h2>Search</h2>
<head>
    <style>
        .form-group {
            margin-bottom: 10px;
            margin: auto;
        }
    </style>
</head>



<table>
    <tr>
        <td>Username:</td>
        <td>Ban Period:</td>
        <td>Ban Reason:</td>
        
    </tr>
    @foreach (var dummy in Listy)
    {
        <tr>
            <td>@dummy.Username</td>
            <td>@dummy.BanPeriod</td>
            <td>@dummy.BanReason</td>
        </tr>
    }
</table>

@Html.ActionLink("Hoem","Index","Admin");