
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>
@Html.ActionLink("Search for User", "Search", "Admin");
@Html.ActionLink("Manage Items", "ItemManager", "Admin");
@Html.ActionLink("Transactions", "Transactions", "Admin");
@Html.ActionLink("Ban History", "BanHistory", "Admin");


<table>
    <tr>
        <td></td>
    </tr>
</table>

