
@{
    ViewBag.Title = "Main";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";

}

<h2>Admin</h2>
@Html.ActionLink("Search for User", "Search", "Admin")
<br />
@Html.ActionLink("Manage Items", "ItemManager", "Admin")
<br />
@Html.ActionLink("Transactions", "TransactionHistory", "Admin")
<br />
@Html.ActionLink("Ban History", "BanHistory", "Admin")


<table>
    <tr>
        <td></td>
    </tr>
</table>

