
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>
<p> fill this with data ?? how</p>
@if (!Session["role"].ToString().Equals("Admin"))
{
}
else if(1==0)
{
    <p> show not this</p>
}

<table>
    <tr>
        <td></td>
    </tr>
</table>

