
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Forum/Forum_Layout.cshtml";

}
<h2>Home</h2>


<div class="container">
    <div class="media" style="outline:auto">
        <div class="media-left">
            <img class="media-object" src="http://media.comicbook.com/2017/10/the-flash-s4-default-1037366.jpg" alt="..." height="80" width="80">
        </div>
        <div class="media-body">
            <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
            <p style="padding-right: 2em">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="media" style="outline:auto">
        <div class="media-left">
            <img class="media-object" src="http://media.comicbook.com/2017/10/the-flash-s4-default-1037366.jpg" alt="..." height="80" width="80">
        </div>
        <div class="media-body">
            <h4 class="media-heading" style="padding-right: 2em">@Html.ActionLink("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Thread", "Forum")</h4>
            <p class="media-right">John Doe <small><i>Posted on February 19, 2016</i></small></p>

        </div>
    </div>
</div>