@model ASPJ_Project.ViewModels.ForumHome

@{
    ViewBag.Title = "Home2";
    Layout = "~/Views/Forum/_Forumlayout.cshtml";
    ASPJ_Project.ViewModels.ForumHome threaddata = new ASPJ_Project.ViewModels.ForumHome();
    var threads = threaddata.getThreadData();
}

@{ 
    foreach (var thread in threads)
    {
        <p><a href="/GetThread/@thread.Key" class="btn btn-primary btn-lg">@thread.Value.Title</a></p>
    }
}
