
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Forum/Forum_Layout.cshtml";

}
<h2>Home</h2>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="..." alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Alex Ang</h4>
        ...
    </div>
</div>
