
@{
    ViewBag.Title = "Thread";
    Layout = "~/Views/Forum/Forum_layout.cshtml";
}

<h2>Thread</h2>

<div class="container">
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="http://media.comicbook.com/2017/10/the-flash-s4-default-1037366.jpg" alt="..." height="42" width="42">
        </div>
        <div class="media-body">
            <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <!-- Nested media object -->
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="http://media.comicbook.com/2017/10/the-flash-s4-default-1037366.jpg" alt="..." height="42" width="42">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Alex Ang <small><i>Posted on February 19, 2016</i></small></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <!-- Nested media object -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="http://media.comicbook.com/2017/10/the-flash-s4-default-1037366.jpg" alt="..." height="42" width="42">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Beatricia Liyu <small><i>Posted on February 19, 2016</i></small></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>