
@{
    ViewBag.Title = "Verified Account";
}

<h3>Welcome to the Dubu Universe!</h3>

<h4>Account successfully verified! Please proceed to login.</h4>

<div>
    @Html.ActionLink("Login", "Login", "User")
</div>




