@{
    ViewBag.Title = "FailureView";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}

<html>
	<head>
        <style>
            .features{
                overflow-y: scroll;
            }
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/Shop/Shop#one">Hats</a></li>
							<li><a href="/Shop/Shop#two">Outfits</a></li>
                            <li><a href="/Shop/Inventory">Inventory</a></li>
                            <li><a>Beans: </a> </li>
                            <li><a href="/Shop/BeansPurchase">Purchase Beans</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>404 Error Page</h1>
							<p>An error has occurred. Sorry about that!</p>
							<ul class="actions">
								<li><a href="/Game/Index" class="button scrolly">Play Now</a></li>
                                <li><a href="/Shop/Shop" class="button scrolly">Shop Now</a></li>
							</ul>
						</div>
					</section>
                </div>
		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Tofu Universe All rights reserved.</li>
					</ul>
				</div>
			</footer>
        </body>
    </html>