@{
    ViewBag.Title = "Shop";
    Layout = "~/Content/ShopStyle/_Layout.cshtml";
}
<html>
	<head>
        <style>
            input {
                color: #000000
            }
        </style>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#one">Hats</a></li>
							<li><a href="#two">Outfits</a></li>
							<li><a href="#three">Backgrounds</a></li>
                            <li><a>Beans: </a></li>
                            <li><a href="#">Purchase Beans</a></li>
                            <li><a href="#">Shopping Cart</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

                <!-- Hats -->
					<section id="one" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>@ViewData["beansAmount"] Beans</h2>
							<p>$@ViewData["price"]</p>
							<div class="features">
								<section>
                                    <form>
									    <span class="icon major fa-money"></span>
									    <h3>Credit Card: <input type ="text" name="creditCardNo"/></h3>
                                    </form>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#" class="button">Go Back</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Tofu Universe All rights reserved.</li>
					</ul>
				</div>
			</footer>
        </body>
    </html>