@{
    ViewBag.Title = "Chat";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Some chat tingy</h1>   
    </div>
    <div>
       <p>@ViewBag.Message</p>
    </div>
    <div>
        @ViewData["Datafromdata"]
    </div>
</body>
</html>
